@page "/superheroes"
@inject ISuperHeroService SuperHeroService
@inject NavigationManager NavigationManager

<PageTitle>Super Heroes</PageTitle>

<h3>SuperHeroes</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Superhero Name</th>
            <th>Comic</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach(var hero in SuperHeroService.SuperHeroes ){
            <tr>
                <td>@hero.FirstName</td>
                <td>@hero.LastName</td>
                <td>@hero.HeroName</td>
                <td>@hero.Comic.Name</td>
                <td><button class="btn btn-info" @onclick="(()=>ShowHero(hero.Id))"><span class="oi oi-pencil"></span> Edit</button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SuperHeroService.GetSuperHeroes();
    }

    private void ShowHero(int id)
    {
        NavigationManager.NavigateTo($"hero/{id}");
    }

}
